*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.attribution{ 
    font-size: 11px;
    text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
body{
    background-color: #FCF8F5;
}
.img{
    width: 100%;
}
button{
    border: 1px solid hsl(14, 86%, 42%) !important;
}
.dtc-btn{
    bottom: -15px;
    left: 55px;
    width: 60%;
}
.inc{
  color: #cc3311;
  border: 2px solid #cc3311;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#addToCart2{
    z-index: -1;
    display: none;
}
.inc-1{
    border: 1px solid #cc3311;
    padding: 6px 0px;
}
.name-of-item{
    font-size: 16px;
    color: #928e8e;
}
.description{
    line-height: 8px;
}
.price, .order-title{
    color: hsl(13, 84%, 48%);
}
.zero-order-description, .ordered-number{
    color: hsl(14, 86%, 42%);
}
.cancel-icon{
    color: hsl(14, 54%, 55%);
    cursor: pointer;
}
.down{
    background-color: #FCF8F5;
}
.confirm-order-btn{
    background-color: hsl(14, 86%, 42%) !important;
    border: none !important;
}
.confirm-order-btn:hover{
    background-color: hsl(14, 99%, 50%) !important;
}
#all{
    display: none;
}
#preall{
    display: block;
}
@media (max-width:991px) {
    .dtc-btn{
        left: 70px;
    }
}
@media (max-width:767px) {
    /* .dtc-btn{
        left: 70px;
    } */
}